# version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: ./docker/server.Dockerfile
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
    depends_on:
      - web
    restart: always

  web:
    build:
      context: .
      dockerfile: ./docker/web.Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_WEBSOCKET_URL: ws://localhost:4000 # For local development
      # NEXT_PUBLIC_WEBSOCKET_URL: ws://server:4000 # For Docker network
    restart: always
